#numero{
    font-size: 15px;
    margin-bottom: 1px;
}

#js{
    margin-bottom: 20px;
}

#email{
    font-size: 15px;
}

#mensagem{
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: #c0c0c0;
}

#cabeçalho{
    background-color: white;
    border: solid;
    color:black;
    border-bottom: none;
    border-width: 1px;
    border-color: #c0c0c0;
}

#second-item{
    margin-top: 30px;
}